In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset = pd.read_csv('CKD.csv')

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
# AI algorithms can not handle categorical data, since the data set contains categorical values in fewer columns like sg,rbc, pc, pcc, ba, htn, etc.,  column contains 
# we need to convert the categorical value into numerical values
# using below method.
dataset=pd.get_dummies(dataset,drop_first=True) # Removing the repeated value column

In [5]:
dataset # Once the categorical columns converted into numerical column values

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [7]:
indep=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']] # separating the input values
dep=dataset['classification_yes'] # separating the output values

In [8]:
indep

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [9]:
dep

0      1
1      1
2      1
3      1
4      1
      ..
394    1
395    1
396    1
397    1
398    0
Name: classification_yes, Length: 399, dtype: uint8

In [10]:
dep=dataset[['classification_yes']]

In [11]:
dep

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [12]:
#print("Multi line comment working...")



#########################   SVC GRID SEARCH NO test and training data split ######################################

# Consolidating the playable parameters probability and also considering the cross validation
# Considering different portions of a data set as a test and traint set
from sklearn.model_selection import GridSearchCV 
from sklearn.svm import SVC
param_grid = {'C': [0.1, 1, 10],  # Regularization parameter
    'kernel': ['linear', 'rbf'],  # Kernel type
    'gamma': [0.1, 1, 10] } # Kernel coefficient for 'rbf'} # Giving all possible HTPs
grid = GridSearchCV(SVC(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
# refit = True means consider the best result model as a result model
# refit = False means consider the last combination model as a result model




'''
#########################   Decision Tree GRID SEARCH NO test and training data split ######################################

# Consolidating the playable parameters probability and also considering the cross validation
# Considering different portions of a data set as a test and traint set
from sklearn.model_selection import GridSearchCV 
from sklearn.tree import DecisionTreeClassifier

#Giving all possible HTPs
param_grid = {'criterion':['gini', 'entropy'], 'splitter':['best', 'random']}


grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1) 
# refit = True means consider the best result model as a result model
# refit = False means consider the last combination model as a result model
'''


'''
#########################   Random Forest GRID SEARCH NO test and training data split ######################################

# Consolidating the playable parameters probability and also considering the cross validation
# Considering different portions of a data set as a test and traint set
from sklearn.model_selection import GridSearchCV 
from sklearn.ensemble import RandomForestClassifier

#Giving all possible HTPs
param_grid = {'criterion':['gini','entropy'],
'max_features': ['sqrt','log2'],
'n_estimators':[10,100]} # Giving all possible HTPs
grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1)
# refit = True means consider the best result model as a result model
# refit = False means consider the last combination model as a result model
'''

"\n#########################   Random Forest GRID SEARCH NO test and training data split ######################################\n\n# Consolidating the playable parameters probability and also considering the cross validation\n# Considering different portions of a data set as a test and traint set\nfrom sklearn.model_selection import GridSearchCV \nfrom sklearn.ensemble import RandomForestClassifier\n\n#Giving all possible HTPs\nparam_grid = {'criterion':['gini','entropy'],\n'max_features': ['sqrt','log2'],\n'n_estimators':[10,100]} # Giving all possible HTPs\ngrid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1)\n# refit = True means consider the best result model as a result model\n# refit = False means consider the last combination model as a result model\n"

In [13]:
# fitting the model for grid search
grid.fit(indep, dep) # Passing whole dataset input and output variable

C:\Users\krish\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  42 out of  54 | elapsed:   14.8s remaining:    4.2s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   25.4s finished
C:\Users\krish\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='auto_deprecated', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': [0.1, 1, 10], 'gamma': [0.1, 1, 10],
                         'kernel': ['linear', 'rbf']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [14]:
# print best parameter after tuning
print(grid.best_params_)
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

{'C': 10, 'gamma': 0.1, 'kernel': 'linear'}
The R_score value for best parameter {'C': 10, 'gamma': 0.1, 'kernel': 'linear'}:

In [15]:
re

{'mean_fit_time': array([ 9.42867128,  0.02584171,  9.42142781,  0.02096717,  9.43004775,
         0.03562824, 10.64499942,  0.0156281 , 11.04284898,  0.01241819,
        10.05325492,  0.01533333,  7.61855801,  0.01550555,  7.56832321,
         0.01500161,  6.54047283,  0.01566831]),
 'std_fit_time': array([3.83936920e+00, 7.65875967e-03, 3.82976385e+00, 7.55546885e-03,
        3.83381277e+00, 5.40139748e-03, 6.89289420e+00, 6.03470659e-06,
        7.42987517e+00, 4.53443896e-03, 5.99506525e+00, 4.71426560e-04,
        3.44136613e+00, 4.05998536e-04, 3.35542834e+00, 2.97996732e-06,
        3.20962981e+00, 4.72498280e-04]),
 'mean_score_time': array([0.00166647, 0.00521485, 0.00166655, 0.0156277 , 0.00133729,
        0.00520849, 0.00134277, 0.01562444, 0.00117056, 0.00521104,
        0.00367236, 0.00666904, 0.00166663, 0.00600004, 0.00133324,
        0.00700013, 0.00133522, 0.00654936]),
 'std_score_time': array([4.71482786e-04, 7.37491175e-03, 4.71370394e-04, 6.32995216e-06,
        9.45606939e-04, 7.36592042e-03, 9.49514556e-04, 1.46109075e-06,
        1.03237081e-03, 7.36951695e-03, 2.36561831e-03, 4.73232112e-04,
        1.24727744e-03, 1.94667955e-07, 9.42740728e-04, 1.12391596e-07,
        9.44148738e-04, 4.14142337e-04]),
 'param_C': masked_array(data=[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 1, 1, 1, 1, 1, 1, 10, 10,
                    10, 10, 10, 10],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_gamma': masked_array(data=[0.1, 0.1, 1, 1, 10, 10, 0.1, 0.1, 1, 1, 10, 10, 0.1,
                    0.1, 1, 1, 10, 10],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'rbf', 'linear', 'rbf', 'linear', 'rbf',
                    'linear', 'rbf', 'linear', 'rbf', 'linear', 'rbf',
                    'linear', 'rbf', 'linear', 'rbf', 'linear', 'rbf'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.1, 'gamma': 0.1, 'kernel': 'linear'},
  {'C': 0.1, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 1, 'kernel': 'linear'},
  {'C': 0.1, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 0.1, 'gamma': 10, 'kernel': 'linear'},
  {'C': 0.1, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 0.1, 'kernel': 'linear'},
  {'C': 1, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 1, 'kernel': 'linear'},
  {'C': 1, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 1, 'gamma': 10, 'kernel': 'linear'},
  {'C': 1, 'gamma': 10, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 0.1, 'kernel': 'linear'},
  {'C': 10, 'gamma': 0.1, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 1, 'kernel': 'linear'},
  {'C': 10, 'gamma': 1, 'kernel': 'rbf'},
  {'C': 10, 'gamma': 10, 'kernel': 'linear'},
  {'C': 10, 'gamma': 10, 'kernel': 'rbf'}],
 'split0_test_score': array([0.87969925, 0.62406015, 0.87969925, 0.62406015, 0.87969925,
        0.62406015, 0.89473684, 0.62406015, 0.89473684, 0.62406015,
        0.89473684, 0.62406015, 0.93984962, 0.62406015, 0.93984962,
        0.62406015, 0.93984962, 0.62406015]),
 'split1_test_score': array([0.95488722, 0.62406015, 0.95488722, 0.62406015, 0.95488722,
        0.62406015, 0.93984962, 0.62406015, 0.93984962, 0.62406015,
        0.93984962, 0.62406015, 0.93984962, 0.62406015, 0.93984962,
        0.62406015, 0.93984962, 0.62406015]),
 'split2_test_score': array([0.98496241, 0.62406015, 0.98496241, 0.62406015, 0.98496241,
        0.62406015, 1.        , 0.62406015, 1.        , 0.62406015,
        1.        , 0.62406015, 1.        , 0.62406015, 1.        ,
        0.62406015, 1.        , 0.62406015]),
 'mean_test_score': array([0.93984962, 0.62406015, 0.93984962, 0.62406015, 0.93984962,
        0.62406015, 0.94486216, 0.62406015, 0.94486216, 0.62406015,
        0.94486216, 0.62406015, 0.95989975, 0.62406015, 0.95989975,
        0.62406015, 0.95989975, 0.62406015]),
 'std_test_score': array([0.04426948, 0.        , 0.04426948, 0.        , 0.04426948,
        0.        , 0.04311942, 0.        , 0.04311942, 0.        ,
        0.04311942, 0.        , 0.02835516, 0.        , 0.02835516,
        0.        , 0.02835516, 0.        ]),
 'rank_test_score': array([ 7, 10,  7, 10,  7, 10,  4, 10,  4, 10,  4, 10,  1, 10,  1, 10,  1,
        10])}

In [16]:
table=pd.DataFrame.from_dict(re) # converting the dictionary format into readable format

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,9.428671,3.839369,0.001666,4.714828e-04,0.1,0.1,linear,"{'C': 0.1, 'gamma': 0.1, 'kernel': 'linear'}",0.879699,0.954887,0.984962,0.939850,0.044269,7
1,0.025842,0.007659,0.005215,7.374912e-03,0.1,0.1,rbf,"{'C': 0.1, 'gamma': 0.1, 'kernel': 'rbf'}",0.624060,0.624060,0.624060,0.624060,0.000000,10
2,9.421428,3.829764,0.001667,4.713704e-04,0.1,1,linear,"{'C': 0.1, 'gamma': 1, 'kernel': 'linear'}",0.879699,0.954887,0.984962,0.939850,0.044269,7
3,0.020967,0.007555,0.015628,6.329952e-06,0.1,1,rbf,"{'C': 0.1, 'gamma': 1, 'kernel': 'rbf'}",0.624060,0.624060,0.624060,0.624060,0.000000,10
4,9.430048,3.833813,0.001337,9.456069e-04,0.1,10,linear,"{'C': 0.1, 'gamma': 10, 'kernel': 'linear'}",0.879699,0.954887,0.984962,0.939850,0.044269,7
5,0.035628,0.005401,0.005208,7.365920e-03,0.1,10,rbf,"{'C': 0.1, 'gamma': 10, 'kernel': 'rbf'}",0.624060,0.624060,0.624060,0.624060,0.000000,10
6,10.644999,6.892894,0.001343,9.495146e-04,1,0.1,linear,"{'C': 1, 'gamma': 0.1, 'kernel': 'linear'}",0.894737,0.939850,1.000000,0.944862,0.043119,4
7,0.015628,0.000006,0.015624,1.461091e-06,1,0.1,rbf,"{'C': 1, 'gamma': 0.1, 'kernel': 'rbf'}",0.624060,0.624060,0.624060,0.624060,0.000000,10
8,11.042849,7.429875,0.001171,1.032371e-03,1,1,linear,"{'C': 1, 'gamma': 1, 'kernel': 'linear'}",0.894737,0.939850,1.000000,0.944862,0.043119,4
9,0.012418,0.004534,0.005211,7.369517e-03,1,1,rbf,"{'C': 1, 'gamma': 1, 'kernel': 'rbf'}",0.624060,0.624060,0.624060,0.624060,0.000000,10
10,10.053255,5.995065,0.003672,2.365618e-03,1,10,linear,"{'C': 1, 'gamma': 10, 'kernel': 'linear'}",0.894737,0.939850,1.000000,0.944862,0.043119,4
11,0.015333,0.000471,0.006669,4.732321e-04,1,10,rbf,"{'C': 1, 'gamma': 10, 'kernel': 'rbf'}",0.624060,0.624060,0.624060,0.624060,0.000000,10
12,7.618558,3.441366,0.001667,1.247277e-03,10,0.1,linear,"{'C': 10, 'gamma': 0.1, 'kernel': 'linear'}",0.939850,0.939850,1.000000,0.959900,0.028355,1
13,0.015506,0.000406,0.006000,1.946680e-07,10,0.1,rbf,"{'C': 10, 'gamma': 0.1, 'kernel': 'rbf'}",0.624060,0.624060,0.624060,0.624060,0.000000,10
14,7.568323,3.355428,0.001333,9.427407e-04,10,1,linear,"{'C': 10, 'gamma': 1, 'kernel': 'linear'}",0.939850,0.939850,1.000000,0.959900,0.028355,1
15,0.015002,0.000003,0.007000,1.123916e-07,10,1,rbf,"{'C': 10, 'gamma': 1, 'kernel': 'rbf'}",0.624060,0.624060,0.624060,0.624060,0.000000,10
16,6.540473,3.209630,0.001335,9.441487e-04,10,10,linear,"{'C': 10, 'gamma': 10, 'kernel': 'linear'}",0.939850,0.939850,1.000000,0.959900,0.028355,1
17,0.015668,0.000472,0.006549,4.141423e-04,10,10,rbf,"{'C': 10, 'gamma': 10, 'kernel': 'rbf'}",0.624060,0.624060,0.624060,0.624060,0.000000,10

In [18]:
#'age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
#'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
#'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
#'appet_yes', 'pe_yes', 'ane_yes'

age_input=float(input("Age: "))
Bp_input=float(input("BP: "))
al_input=float(input("Al: "))
su_input=float(input("Su: "))
bgr_input=float(input("Bgr: "))
bu_input=float(input("Bu: "))
sc_input=float(input("Sc: "))
sod_input=float(input("Sod: "))
pot_input=float(input("Pot: "))
hrmo_input=float(input("Hrmo: "))
pcv_input=float(input("Pcv: "))
wc_input=float(input("Wc: "))
rc_input=float(input("Rc: "))
Sgb_input=int(input("Sg_b: 0 or 1 : "))
Sgc_input=int(input("Sg_c: 0 or 1 : "))
Sgd_input=int(input("Sg_d: 0 or 1 : "))
Sge_input=int(input("Sg_e: 0 or 1 : "))
rbc_input=int(input("rbc_normal: 0 or 1 : "))
pc_input=int(input("pc_normal: 0 or 1 : "))
pcc_input=int(input("pcc_present: 0 or 1 : "))
ba_input=int(input("ba_present: 0 or 1 : "))
htn_input=int(input("htn_yes: 0 or 1 : "))
dm_input=int(input("dm_yes: 0 or 1 : "))
cad_input=int(input("cad_yes: 0 or 1 : "))
appet_input=int(input("appet_yes: 0 or 1 : "))
pe_input=int(input("pe_yes: 0 or 1 : "))
ane_input=int(input("ane_yes: 0 or 1 : "))

Age: 23
BP: 124
Al: 67
Su: 67
Bgr: 78
Bu: 89
Sc: 90
Sod: 89
Pot: 56
Hrmo: 123
Pcv: 123
Wc: 12
Rc: 34
Sg_b: 0 or 1 : 0
Sg_c: 0 or 1 : 0
Sg_d: 0 or 1 : 0
Sg_e: 0 or 1 : 0
rbc_normal: 0 or 1 : 0
pc_normal: 0 or 1 : 0
pcc_present: 0 or 1 : 0
ba_present: 0 or 1 : 0
htn_yes: 0 or 1 : 0
dm_yes: 0 or 1 : 0
cad_yes: 0 or 1 : 0
appet_yes: 0 or 1 : 0
pe_yes: 0 or 1 : 0
ane_yes: 0 or 1 : 0

In [19]:
Future_Prediction=grid.predict([[age_input,Bp_input,al_input,su_input,bgr_input,bu_input,sc_input,sod_input,pot_input,hrmo_input,pcv_input,wc_input,
rc_input,Sgb_input,Sgc_input,Sgd_input,Sge_input,rbc_input,pc_input,pcc_input,ba_input,htn_input,dm_input,cad_input,
appet_input,pe_input,ane_input]])
#change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]